@model FitnessFrog.Models.Entry

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <td>Date</td>
            <td>Activity</td>
            <td>Duration</td>
            <td>Intensity</td>
            <td colspan="2"></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01/01/2016</td>
            <td>Basketball</td>
            <td>23</td>
            <td>Low</td>
            <td>
                <button class="glyphicon glyphicon-edit btn btn-warning btn-sm">Edit</button>
                @*@Html.ActionLink("Edit", "Edit", new { Id = Model.Id }, new { @class = "glyphicon glyphicon - edit btn btn - warning btn - sm" })*@
                <button class="glyphicon glyphicon-remove btn btn-danger btn-sm">Delete</button>

            </td>
        </tr>
    </tbody>

</table>